# katalogi build/cache
node_modules
dist
.DS_Store
.npmrc

# artefakty dev serwera / logi
public/*.map
public/*.log

# certy (lokalne, nie wrzucamy do repo)
certs/
public/rootCA.cer

# stare jednoplikowe certy (gdyby kiedyś istniały)
key.pem
cert.pem